
.App, .App_title, .App_container, .container-btn{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
#create-employee{
  width: 100%;
}
.address{
  border:0.3px solid var(--bs-body-color);
  padding:10px;
}
.address-legend{
 all:initial;
 font-family: inherit;
 color:inherit;
 font-size: 1.5rem;
 padding:10px;
}

.datepicker{
  border:none;
  outline: none;
}

.Modal{
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right :-50%;
  transform: translate(-50%, -50%);
  height: max-content;
  width: max-content;
  padding:50px;
  background-color: var(--bs-body-bg);
  border-radius: var(--bs-border-radius);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0, 0, 0, 0.7);
}



/* table */
.table_section__ct{
  margin-top:50px;
}
.table_filter__ct{
  background-color: var(--bs-body-color);
}



